<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/manageBooks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/adminDashboard.css">

</head>

<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="container">

        <div class="operationsContainer">
            <div class="op">
                <div class="oplink">
                    <a class="gotobtn" href="/issueBook">ISSUE BOOKS</a>
                </div>
            </div>
            <div class="op">
                <div class="oplink">
                    <a class="gotobtn" href="/manageBooks">MANAGE BOOKS</a>

                </div>
            </div>
            <div class="op">
                <div class="oplink">
                    <a class="gotobtn" href="/manageUsers">MANAGE USERS</a>

                </div>
            </div>
            <div class="op">
                <a class="gotobtn" href="adminLogs">LOGS</a>

            </div>
            <form action="/adminLogin">
                <button class="lgbtn" id="lgbtn" type="submit">Logout</button>
            </form>
        </div>
        <div class="pagecontainer">
            <div class="wrapper">
            <div class="optionContainer">
                <button  id="addBookBtn" onclick="openPopUpAddBook()">Add Book</button>
                <button id="editBookBtn"  onclick="openPopUp()" ><i class="editBook fa-solid fa-pen-to-square"></i></button>
            </div>
            <div class="addBookContainer" id="addBookCnt" >
                <form action="/manageBooks/addBook" method="post" class="bookAdder bookAdderOpen" id="addNewBook">
                    <input type="text" name="name" id="" placeholder="Book Name" required autocomplete="off">
                    <input type="text" name="isbn" id="" placeholder=" ISBN" required autocomplete="off">
                    <input type="text" name="genre" id="" placeholder="Genre" required autocomplete="off">
                    <input type="number" name="publicationYear" id="" placeholder="Publication Year" required autocomplete="off">
                    <input type="number" name="availableCopies" id="" placeholder="Available Copies" required autocomplete="off">
                    <input type="number" name="totalCopies" id="" placeholder="Total Copies" required autocomplete="off">
                    <button name=" addbk" value="1" type="submit">Add</button>
                    <button type="submit" id="closeAddWin" class="bookAdderClose" onclick="closePopUpAddBook()">close</button>
                </form>
    
            </div>
            <div class="showBooksContainer">
                <table>
                    <tr class="tableHeader">
                        <th class="tableLabel">ID</th>
                        <th class="tableLabel">Name</th>
                        <th class="tableLabel">ISBN</th>
                        <th class="tableLabel">Genre</th>
                        <th class="tableLabel">Publication Year</th>
                        <th class="tableLabel">Avaliable Copies</th>
                        <th class="tableLabel">Total Copies</th>
                        <th class="tableLabel">Action</th>
    
                    </tr>
                    <% data.forEach(item=> { %>
                        <tr class="tableData">
                            <td class="dataItem">
                                <%= item.book_id %>
                            </td>
                            <td class="dataItem">
                                <%= item.title %>
                            </td>
                            <td class="dataItem">
                                <%= item.isbn %>
                            </td>
                            <td class="dataItem">
                                <%= item.genre %>
                            </td>
                            <td class="dataItem">
                                <%= item.publication_year %>
                            </td>
                            <td class="dataItem">
                                <%= item.available_copies %>
                            </td>
                            <td class="dataItem">
                                <%= item.total_copies %>
                            </td>
                            <td class="dataItem dataItemBtn">
                                    <!-- <button id="editBookBtn"  onclick="openPopUp()" ><i class="editBook fa-solid fa-pen-to-square"></i></button> -->
                                    <!-- <div > -->
                                        <form class="popup" id="popup" action="/manageBooks/editBookPost" method="post">
                                            <!-- <button id="editBookBtn"  onclick="openPopUp()" ><i class="editBook fa-solid fa-pen-to-square"></i></button> -->
                                            <input type="number" name="bookId" placeholder="BookID">
                                            <input type="text" name="updateName" id="" placeholder="Book Name" required autocomplete="off">
                                            <input type="text" name="updateGenre" id="" placeholder="Genre" required autocomplete="off">
                                            <input type="number" name="updateIsbn" id="" placeholder="ISBN" required autocomplete="off">
                                            <input type="number" name="updatePublicationYear" id="" placeholder="Publication Year" required autocomplete="off">
                                            <input type="number" name="updateAvailableCopies" id="" placeholder="Avaliable Copies" required autocomplete="off">
                                            <input type="number" name="updateTotalCopies" id="" placeholder="Total Copies" required autocomplete="off">
                                            <button type="submit">Confirm</button>
                                            <button  id="closeAddWin" onclick="closePopUp()">close</button>
                                        </form>
    
                                    <!-- </div> -->
                               
                                <form action="/manageBooks/deleteBookPost" method="post">
                                    <input type="hidden" name="bookId" value="<%= item.book_id %>">
                                    <button id="deleteBookBtn" name='deleteBook'><i
                                            class="deleteBook fa-solid fa-trash" id="dltbk"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </table>
            </div>
    
    
    
    
        </div>

        </div>
    </div>
   
    <script>
        let bookAdder = document.getElementById('addNewBook')
        function openPopUpAddBook() {
            bookAdder.classList.add('bookAdderVisible');
        }
        function closePopUpAddBook() {
            bookAdder.classList.remove('bookAdderVisible');

        }
        let popup = document.getElementById('popup');
        function openPopUp(){
            popup.classList.add("openpopup");
        }
        function closePopUp(){
            popup.classList.remove("openpopup");
            
        }
       
    </script>
</body>

</html>