<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    <link rel="stylesheet" href="css/studentDash.css">
</head>
<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="container">
        <div class="studentDetails">
            <div class="studentInfo">
                <div class="student">Name : <%= data[0].first_name %> <%= data[0].last_name %> </div>
                <div class="student">Email : <%= data[0].email %></div>
                <div class="student">USN : <%= data[0].usn %></div>
            </div>
            <div class="logo"><img class="studlogo" src="images/LMS-removebg-preview.png" alt=""></div>
            <div class="studentInfo">
                <div class="penalties">Penalty : <%= data[0].fine_amount %> &#8377</div>
                <div class="logoutContainer">
                    <form action="#" method="post"><button class="studentLogout">logout</button></form></div>
            </div>
        </div>
        <div class="booksIssued">
            <h3 class="heading3text">Books Issued: </h3>
            <div class="booksDetails">
                <table>
                    <tr class="tableHeader">
                        <th class="tableLabel">Transaction ID </th>
                        <th class="tableLabel">USN</th>
                        <th class="tableLabel">Book Name</th>
                        <th class="tableLabel">Transaction Date</th>
                        <th class="tableLabel">Due Date</th>
                        <th class="tableLabel">Action</th>

                    </tr>
                     <% data.forEach(item=> { %>
                        <tr class="tableData">
                            <td class="dataItem">
                                <%= item.transaction_id %>
                            </td>
                            <td class="dataItem">
                                <%= item.usn %>
                            </td>
                            <td class="dataItem">
                                <%= item.book_name %>
                            </td>
                            <td class="dataItem">
                                <%= item.transaction_date %>
                            </td>
                            <td class="dataItem">
                                <%= item.due_date %>
                            </td>
                            <td class="dataItem">
                                <form action="/studentDashboard/returnBook" method="post">
                                    <input type="hidden" name="tid" value="<%= item.transaction_id %>"/>
                                    <button id="returnBookBtn" type="submit" >Return</button>
                                </form>
                                
                                </td>      
                        </tr>
                        <% }); %>
                   
                </table>
            </div>

        </div>
    </div>
</body>
</html>